body {
    font-family: 'Roboto', sans-serif;
}

div#desc {
    position: fixed;
    right:10px;
    bottom:10px;
    border: 1px solid #000;
    background-color: #FFF;
    padding:10px;
    font-size: 13px;
}